<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Rasooli | <%= title%></title>
  </head>

  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>First Node Project!!</h1>
    <p>This is the first Node.js project.</p>
    <p>Welcome to the world of Node.js!</p>
    <p>Explore the features and capabilities of Node.js.</p>
    <p>Happy coding!</p>
    <p>Name:<%= data.name %></p>
    <p>Age:<%= data.age %></p>
    <p>Job:<%= data.job %></p>
    <p>Skills:</p>
    <ul>
      <% data.skills.forEach(skill=> { %>
      <li><%= skill %></li>
      <% }) %>
    </ul>
    <p>Thank you for visiting our site!</p>
    <footer>
      <p>&copy; 2023 Your Company Name</p>
    </footer>
    <style></style>
  </body>
</html>
